<html>
    <body>

        {% include "superior/barra.html" %}

        <h3>
            <p>Datos familiares</p>
            <ul>
            {% for familia in familia %}

                <li>Nombre: {{familia.nombre}}</li>
                <li>Apellido: {{familia.apellido}}</li>
                <li>Edad: {{familia.edad}}</li>
                <li>Fecha de nacimiento: {{familia.fecha}}</li>
                <ul>--------------------------------------</ul>
            
            {% endfor %}
            </ul>
        </h3>
    </body>
</html>